<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="我自己的接口测试套件">

    <test name="这些是测试模块">
        <classes>
            <class name="com.mybatis.httpPost">
                <methods>
                    <include name="LoginTest"/>
                </methods>

            </class>

        </classes>

    </test>

    <listeners>
        <listener class-name="com.mybatis.testngListener"/>

    </listeners>
</suite>